@import "../styles/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles */
html,
body {
  background-color: var(--color-base);
  color: var(--color-primary);
  font-family: var(--font-sans);
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}